*.iml
*.apk
*.ap_
*.dex
*.class

.DS_Store
.externalNativeBuild
.cxx

.gradle
.idea/*

bin/
gen/
out/
build/
captures/
release/

local.properties
keystore.properties
key_radiostations.jks

# Can be shared across team
!.idea/dictionaries/
!.idea/dictionaries/*
!.idea/codeStyles/
!.idea/codeStyles/*
!.idea/icon.png